In [2]:
import pandas as pd
import requests

In [68]:
url = "http://127.0.0.1:8090/api/collections/listing/records"

req = requests.get(url)

data = req.json()
pages = data["totalPages"]
items = data["items"]

for i in range(1,pages):
    req = requests.get(url+"?page="+str(i))
    data = req.json()
    items = items + data["items"]

In [69]:
df = pd.DataFrame(items)
df["price"] = df["price"].apply(lambda p: int(p.replace('$', '').replace(',', '')))
df = df[["title", "price"]]

In [76]:
df = df[df["price"] != 0]
df = df.sort_values("price", ascending=False)
df

                                                 title   price
175  2008 *Mack* *GU-800 ROLL OFF CONTAINER TRUCK *...  109995
422  2008 *Mack* *GU-800 ROLL OFF CONTAINER TRUCK *...  109995
312  2022 JEEP WRANGLER UNLIMITED RUBICON 392 RECON...   84997
342  2022 JEEP WRANGLER UNLIMITED RUBICON 392 RECON...   84997
378          2020 Ram 2500 with 2022 Gooseneck Trailer   80000
..                                                 ...     ...
438  Need a Vehicle?? Come down to 4300 North 1st A...    1111
194  02 Toyota Camry and other vehicles for finance...    1000
133  02 Toyota Camry and other vehicles for finance...    1000
380                2003 Dodge Caravan Ran when parked.     300
408                2003 Dodge Caravan Ran when parked.     300

[343 rows x 2 columns]