# Craiglist Valuation
**By: Carson Case (carsonpcase@gmail.com)**

1. Get listings from db

In [1]:
import sqlite3
def get_listings():
    """Returns a list of all listings."""
    # Connect to the database.
    db = sqlite3.connect("db/listings.db")
    cursor = db.cursor()

    # Get all listings from the database.
    cursor.execute("SELECT * FROM listings")

    # Create a list of all listings.
    listings = []
    for row in cursor.fetchall():
        listings.append(row)

    # Close the connection to the database.
    db.close()

    # Return the list of listings.
    return listings

items = get_listings()

2. Clean and format data

In [3]:
import pandas as pd
df = pd.DataFrame(items, columns=["id", "title","price", "link"])
df["price"] = df["price"].apply(lambda p: int(p.replace('$', '').replace(',', '')))
df = df[["title", "price", "link"]]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109240 entries, 0 to 109239
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   109240 non-null  object
 1   price   109240 non-null  int64
 2   link    109240 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.5+ MB

### Valuation process:
For a certain make/model/year
Find all vehicles for sale that have the same make and model, average price and apply a weight for the year's accuracy
Return the average weighted price of the vehicle

In [36]:
make = "Mercedes"
model = "e350"
year = 2011

fdf = df[df["title"].str.contains(make, case=False)]
fdf = fdf[df["title"].str.contains(model, case=False)]
fdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114 entries, 3680 to 108316
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   114 non-null    object
 1   price   114 non-null    int64
 2   link    114 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.6+ KB

/tmp/ipykernel_4229/3743880615.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fdf = fdf[df["title"].str.contains(model, case=False)]

In [38]:
totalPrice = 0
count = 0
for car in fdf.iterrows():
    totalPrice += float(car[1]["price"])
    if str(year) in car[1]["title"]:
        print("SAME YEAR")
        continue
    if str(year-1) in car[1]["title"]:
        count += 2
        continue
    if str(year+1) in car[1]["title"]:
        count +=2
        continue
    count += 3

print(totalPrice / fdf.count()["price"])
#fdf["price"].plot(kind="hist",bins=10)

SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
SAME YEAR
11748.421052631578